/*=============== Variables CSS ===============*/
:root {
    --body-color: #777777;
    --main-color: #256D7B;
    --main-border-radius: 50px;
}

/*=============== General ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  html {
    scroll-behavior: smooth;
    font-size: 65%;
    height: 100%;
}

body {
    background-color: var(--body-color);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Navigation SECTION */

header {
    position: fixed;
    top: 0;
    padding: 15px 80px;
    width: 100%;
    border-bottom: 1px solid rgba(144, 114, 126, 0.2);
    opacity: 0.97;
    z-index: 99;
    background-color: var(--body-color);
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: #FAFAFA;
}

.navbar-nav {
    list-style: none;
}

.nav-link {
    position: relative;
    margin-right: 30px;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 400;
    color: #cccccc;
    outline: none;
}

.nav-link::after {
    position: relative;
    top: 35px;
    right: 0px;
    height: 2px;
    width: 100%;
}

.nav-link:hover {
    color: #FFF;
}